	input[type=text] {
		width: 70%;
		padding: 12px 20px;
		margin: 8px 30;
		display: inline-block;
		border: 2px solid #ccc;
		font-size: 35px;
	}
	
	.container{
		border: 5px solid red;
	    text-align: center;
	    width: 50vw;
	    padding: 20px;
	    margin: auto;
	}

	button {
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: px;
		margin-left: 25px;

	}