	input[type=text] {
		width: 80%;
		padding: 12px 20px;
		margin: 8px 30;
		display: inline-block;
		border: 2px solid #ccc;
		box-sizing: border-box;
		margin-left: 25px;
		font-size: 35px;
	}
	
	.container{
		margin: auto;
	}

	button {
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: px;
		margin-left: 25px;

	}